{{!-- templates/mainMeta.hbs --}}

<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{global.font-familiy}}" rel="stylesheet">
    <link rel="stylesheet" href="{{global.style}}/{{page.style}}">


    {{#each page.scripts}}
        <script src="{{../global.script}}{{this}}"></script>
    {{/each}}


    <title>{{page.title}}</title>
</head>